.modal {
  display: flex;
  align-items: center;
  height: 590px;
  width: 100%;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  z-index: 1002;
}

.modal-btn-close {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  height: 50px;
  width: 50px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 2.5rem;
  right: 0;
  top: 20px;
  display: block;
  align-items: flex-start;
  border-style: none;
  border-color: rgb(0, 0, 0);
}

.modal-btn-close-icon {
  right: 1.6rem;
  text-align: center;
  fill: #6f737b;
  top: 1.6rem;
  width: 2rem;
  position: absolute;
}
